!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

    %title Hippie Ipsum - Trust the Process
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"

    / Google web fonts
    %link{href: "http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister", rel: "stylesheet", type: "text/css"}/

  %body
    .container
      .row
        .span10.offset1
          = render partial: 'header'
          = render partial: 'selector'
          = yield
          = render partial: 'social'
          %footer
            = render partial: 'footer'

    / Javascripts: placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
