!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

    %title Hippie Ipsum - Trust the Process
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"

    %link{href: "http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister", rel: "stylesheet", type: "text/css"}/

  %body
    .container
      .row
        .col-md-10.col-md-offset-1
          = render partial: "header"
          = yield
          .social.text-center
            = render partial: "social"
          %footer
            = render partial: "footer"

    = javascript_include_tag "application"
